{% extends "base.html" %} {% block title %}
<title>{{title}}</title>

{% endblock %} {% block content %}
<div class="container">
  <h1 class="text-center">{{title}}</h1>
  <br />

  <a class="btn btn-primary" href="{{url_for('add_task')}}">Add new Task</a>

  <hr style="margin: 20px" />
  <br />
  {% if list_items | length > 0%}
  <table class="table container table-striped table-bordered" >
    <thead>
      <tr>
        <th class="col-1" scope="col">#</th>
        <th class="col-4" scope="col">Task</th>
        <th scope="col">Note</th>
        <th class="col-1" scope="col">Completed</th>
        <th class="col-1" scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for item in list_items|reverse %}

      <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{item.to_do_item}}</td>
        <td>{{item.note}}</td>
        <td>
          {% if item.is_complete %}
          <a class="btn btn-success"  href="{{url_for('edit', todo_id=item.id)}}">Yes</a>
          {% else %}
          <a class="btn btn-primary" href="{{url_for('edit', todo_id=item.id)}}">No</a>
          {% endif %}
        </td>
        <td>
          <a
            class="btn btn-danger"
            href="{{url_for('delete', todo_id=item.id)}}"
            >Delete</a
          >
        </td>
      </tr>

      {% endfor %}

    </tbody>
  </table>
  {% else %}
  <p>No items to show</p>
  {% endif %}
</div>
{% endblock %}

<!-- {{form.is_complete.label}}
        {{form.is_complete}} -->
