{% extends "base.html" %}

{% block title %} 
    <title>{{title}}</title>
{% endblock %}


{% block content %}

<h1>{{title}}</h1>

<hr>

<form action="{{url_for('login')}}" method="post">

    <label for="username">Username</label>
    <input type="text" name="username" id="username" placeholder="Enter your username">
    <br><br>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Enter your password">
    <br><br>
    <input type="submit" value="Login">

</form>

{% endblock %}