{% extends "base.html" %}

{% block title %} 
    <title>{{title}}</title>
{% endblock %}


{% block content %}

<h1 class="text-center">{{title}}</h1>

<hr>

<form action="{{url_for('login')}}" method="post">

    <label  class="form-label" for="username">Username</label>
    <input class="form-control" type="text" name="username" id="username" placeholder="Enter your username">
    <br><br>
    <!-- <label class="form-label" for="password">Password</label> -->
    <label  class="form-label" for="username">Password</label>
    <input class="form-control" type="password" name="password" id="password" placeholder="Enter your password">
    <br><br>
    <button class="btn btn-primary" type="submit">Login</button>

</form>

{% endblock %}