{% extends "base.html" %}

{% block title %} 
    <title>{{title}}</title>
{% endblock %}


{% block content %}

<h1 class="text-center">{{title}}</h1>

<hr>

{% if errors %}

    {% for error in errors %}

        {{error[0]}}

    {% endfor %}

{% endif %}
<div class="container">
<form action="{{url_for('register')}}" method="post">

    {{form.hidden_tag()}}
    {{form.username.label}}
    {{form.username}}
    {{form.password.label}}
    {{form.password}}
    {{form.submit}}

</form>
</div>
{% endblock %}